# Задачі CRON створювати за шаблоном:
# хвилина година  число_місяця номер_місяця день_тижня   команда
#
# У стовпці команда вкрай рекомендується вказувати повний шлях до бінарника
# Інакше задача може не спрацьовувати 
#
# Розрив рядків має бути у стилі Line Feed (LF), бо також може не спрацювати
#
#
#
# Запуск PHP скрипта кожні 59 хвилин
# */59 * * * * /usr/local/bin/php /usr/share/nginx/apps/НАЗВА_ПРОЄКТУ/cron.php
#
#
# тут вже можна створювати свої cron задачі
# у кінці має бути порожній рядок

*/59 * * * * /usr/local/bin/php /usr/share/nginx/apps/accounts/cron.php
